<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Category.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E88B47A71E15363E0074A53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8DD4B401E51C29F008B6BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8E8A4791E55B17200E64E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
